.sidelogoFVT{
    height: 150px;
    padding: 5px;
    width: 220px;
     margin-top: 5px; 
}

.navbarFVT{
    padding: 0px 10%;
    font-size: 25px;
    list-style-type: none;
    overflow: hidden;
    height: 60px;
}

@media only screen and (max-width: 1250px) {
    .navbarFVT{
       min-height: 150px 
    }
  }

.navitemFVT{
    color: rgb(49, 47, 47);
    padding: 0px 4%;
     /* padding: 5px 30px;  */
}

.navitemFVT:hover{
    background-color: rgb(20, 194, 224);
    margin: 0px;
    height: 60px;
    color: white;
}


  /* --------------- End of Nav Bar ------------------- */

.newsDiv1FVT{    
margin-right: 5%;

}

.mimageFVT{
    width:70px;
    height:70px;
  }

  .dyanmicDivFVT{
      margin: 30px 10%;
      border: solid 1px rgb(20, 194, 224);
      border-radius: 10px;
      padding: 20px;
  }

  .orgnmeFVT{
      margin-top: 5%;
    }


  .ddiv2FVT{
      display: inline-block;
      margin: 10px auto;
      padding-right:20px; 
      text-align: center;
  }

  .ddiv3FVT{
    border-right: solid 3px rgb(20, 194, 224);
    border-left: solid 3px rgb(20, 194, 224);  
    display: inline-block;
    margin: 10px;
}

  /* @media only screen and (max-width: 1330px) {
    .ddiv3FV{
        border:solid 3px whitesmoke;
        display: block !important;
        min-width:450px !important;
    }

    .ddiv2FV{
        min-width:450px !important;
    }

    .dyanmicDivFV{
        text-align: center !important
    }

  } */

  

 .desDivFVT{ 
     height: 120px !important;
     font-size: 14px;
     overflow-y:scroll !important;
     border-radius: 10px;
     padding: 10px;
 }