.sidelogoN{
    height: 150px;
    padding: 5px;
    width: 220px;
     margin-top: 5px; 
}

.navbarN{
    padding: 0px 10%;
    font-size: 25px;
    list-style-type: none;
    overflow: hidden;
    height: auto;
}



.navitemN{
    color: rgb(49, 47, 47);
    padding: 0px 4%;
    font-size: 20px;
    margin: 0px auto;
     /* padding: 5px 30px;  */
}

.navitemN:hover{
    background-color: rgb(20, 194, 224);
    color: white;
}


  /* --------------- End of Nav Bar ------------------- */

  .newsDiv1NF{    
    margin-right: 5%;
    
    }
    
    .mimageNF{
        width:70px;
        height:70px;
      }
    
      .dyanmicDivNF{
          margin: 30px 10%;
          border: solid 1px rgb(20, 194, 224);
          border-radius: 10px;
          padding: 10px;
      }
    
      .orgnmeNF{
          /* margin-left: 14%; */
          margin-top: 5%;
        }
    
    
      .ddiv2NF{
          display: inline-block;
          margin: 10px auto;
          padding-right:20px; 
          text-align: center;
      }
    
      .ddiv3NF{
        border-right: solid 3px rgb(20, 194, 224);
        border-left: solid 3px rgb(20, 194, 224);  
        display: inline-block;
        margin: 10px;
    }
     .desDivNF{ 
         height: 100px !important;
         font-size: 13px;
         overflow-y:scroll !important;
         border:solid 1px rgb(27, 129, 160);
         border-radius: 10px;
         padding: 10px;
     }

 .mymodaNF{
     height: 200px;
     width: 200px;
 }