body{
    background-color: rgb(20, 194,224)
}
           
.TPimg{
    width: 80px;
    height: 80px
}

.btnSgnTSP{
    margin-right:'10px';
    color: white;
    display: inline-block;
    width:100px; 
    font-size:11px; 
    background:rgb(20, 194, 224);
    border:solid 1px rgb(27, 129, 160);
   }

 .div1TSP{
     min-Width:500px;
     margin-Left:8% ;
     text-Align:center;
     font-size: 12px;
     margin-bottom: 20px;
 }  