
/* --------------- SIDE BAR ------------------ */

body {
    font-family: "Lato", sans-serif;
   
  }
  
  .SAFprofdiv{ 
    text-align:center;
    float:right;
  }
  
  .sideimgAF{
      border: solid 2px rgb(20, 194, 224);;
      border-radius: 100%;
      height: 60px;
      padding: 5px;
      width: 60px;
      background: white;
       margin-right: 5px;; 
  }

.sidelogoAF{
    height: 70px;
    padding: 5px;
    width: 110px;
    margin-top: 5px;
    float: left; 
}

.searchbtnAF{
  width:35px; 
  height:37px;
  margin-bottom: 2px;
  border-left: solid 1px rgb(27, 129, 160);
  background-color:white  
}

.searchbtnAF:hover{
  width:37px; 
  height:39px;
}

  .profilebtnAF{
      border-radius: 10px;
      background: rgb(47, 174, 212);
      /* border: solid 2px rgb(20, 194, 224);; */
      color:white !important;
      border:solid 1px rgb(27, 129, 160);
      margin-right: 20px;
  }

  .profilebtnAF:hover{
    background: rgb(27, 129, 160);
    border: solid 2px rgb(20, 194, 224);
    color: black;
  }


  .sidenavAF a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 5px;
    border: solid 1px white;
    color: white;
    display: block;
  }
  
  .sidenavAF a:hover {
    color: rgb(27, 129, 160);
  }

  .sidebtnAF{
    border-radius:10px;
    color:white !important;
    background-color: rgb(31, 162, 202); 
  }

  .sidebtnAF:hover{
    color: rgb(21, 104, 172) !important;
  }
  
  .mainAF {
    margin:0px 25% 0px 25%; /* Same as the width of the sidenav */
    height: 100% !important;
    text-align: center;
  

}
  
  /* @media screen and (max-height: 450px) {
    .sidenavAF {padding-top: 15px;}
    .sidenavAF a {font-size: 18px;}  
  } */

  



  /* -------------------MAIN PAGE -------------------- */

  


.searchdivAF{
    text-align: center;
    margin: 20px 0px;
    border: 'transparent';
}

.searchinputAF{
  background:white; 
  width:200px ;
  float: left;
  height: 30px;
  font-size:10px; 
  margin-left:10px;
  margin-top: 20px; 
  margin-right: 50px;
}


.div3btnAF{
 background-color: rgb(47, 174, 212);
 border:solid 1px rgb(25, 109, 134); 
 color:white;
}

.div3btnAF:hover{
    background-color:rgb(27, 129, 160); 
}

.sidenavAF {
  background: linear-gradient(to bottom,  rgb(20, 194, 224) 0%,rgb(20, 194, 224) 25%, white 25%, white 100%);
  margin-top: 12%;
  height: 400px;
  margin-left:2%; 
  width:17%;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
}

.div2AF{
    /* margin: 6% 0px 0px 70%; */
    margin-left:80%;
    margin-right:0px;
    margin-top: 100px;;
    display: inline-block;  
    /* border : solid 1px rgb(27, 129, 160); */
    width:20%;
    background-color:whitesmoke;
    padding-top:1%;
    padding-left: 1%; 
    height: 85vh;
    overflow:hidden;
    border-radius:5px; 
    position: fixed;
    z-index: 1;

}

.div3AF{
    margin: 10px;
    margin-left: 5%;
    text-align: center;
    padding:1%;
    margin:10px;
    /* border:solid 1px rgb(27, 129, 160); */
    background-color:whitesmoke;
    border-radius:5px;
}


#div4id{
  text-align: center;
}


.div4AF{
    background-color:whitesmoke;
    margin: 10px 20px;
    /* border : solid 1px rgb(27, 129, 160); */
    height: 80vh;
    border-radius:5px;
    
}



.div4btnAF{
  width: 70px;
  height: 25px;
  background: rgb(47, 174, 212);
  border-radius: 5px;
  color: white;
  font-size:10px; 
  border: solid 1px rgb(27, 129, 160);
}

.div4btnAF:hover{
  background-color: rgb(27, 129, 160)
}

.RemindDivAF{
  background:white;
  width: 150px;
  height:200px;
  overflow: hidden;
  /* border: solid 2px #2196F3; */
  margin: 10px;
  padding: 5px;
  border-radius:10px; 
  display: inline-block;

}

.btn1AF {
    background-color:orangered ;
    border:orangered ;
    width:200px ; 
    margin:3px
  }



  .main_btnAF{
    border: solid 2px white;
    background-color :rgb(20, 194, 224);; 
    display: inline-block;  
    text-align: center; 
    padding:15px;
    width: 180px;
    height: 120px;
    border-radius: 5px;
    margin: 5px ;
  }

  .main_btnAF:hover{
      border-radius: 10px;
      background-color: rgb(27, 129, 160)
  }

  .palignAF{
      text-align: center
  }


  /* --------------- NAV BAR 1st --------------------- */
  .topnavAF {
    overflow-y: scroll;
    background-color: rgb(20, 194, 224);
    height: 80px;
  }
  
  .topnavAF a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .SAFp{
    margin-top: 20px;
    text-align: center;
  }

  .SAFuimg{
    border: solid 2px white;
    border-radius: 200px;
    margin-top: 20px;
     min-width: 80px;
     min-height: 80px;
     background-color: rgb(132, 190, 207);
  }

  @media screen and (max-width: 1600px) {

    .sidenavAF{
      margin-top:12%;
      width: 17%; 
      height: 350px;
     }

     .SAFuimg{
      border: solid 2px white;
      border-radius: 200px;
      margin-top: 20px;
       width: 80px;
       height: 80px;
       background-color: rgb(132, 190, 207);
    }

     .div2AF{
      margin-top:120px; 
     }
  
     .RemindDivAF{
       width:150px;
     }

  }


  @media screen and (max-width: 1200px) {
  
  .sidenavAF{
   visibility: hidden;
  }

  .div2AF{
    visibility: hidden;
   }

  .mainAF {
    margin:20px;
  }
  
  .div4AF .div2AF{
    margin: 10px;
  }

  .SAFprofdiv{
    float: none;
    margin-bottom: 5px;
  }

}

  

  

  

 
  
  /* @media screen and (max-width: 600px) {
    .topnavAF .search-containerAF {
      float: none;
    }
    .topnavAF a, .topnavAF input[type=text], .topnavAF .search-containerAF button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnavAF input[type=text] {
      border: 1px solid #ccc;  
    }
  } */


  .SAFnewsDiv1{    
    margin-left: 5%;
    
    }
    
    .SAFmimage{
        width:60px;
        height:60px;
      }
    
      .SAFdyanmicDiv{
          margin: 30px 4%;
          border: solid 1px rgb(20, 194, 224);
          border-radius: 10px;
          padding: 20px;
          text-align:center;
      }
    
      .SAForgnme{
          margin-top: 5%;
        }
    
    
      .SAFddiv2{
          border-right: solid 3px rgb(20, 194, 224);
          display: inline-block;
          margin: 10px auto;
          padding-right:20px; 
          text-align: center;
          min-width: 200px
      }
    
      @media only screen and (max-width: 1300px) {
        .SAFddiv2{
            border-right: solid 3px whitesmoke;
            display: block;
            min-width:450px !important;
        }

        .SAFdesDiv{          
          /* width: 350px; */
        }

      }
    
      .SAFddiv3{
        display: inline-block;
        margin: 10px auto;
        border: none;
        min-width: 300px;
    }
    
     .SAFdesDiv{ 
        padding:10px !important;
        border:solid 1px rgb(27, 129, 160);
        border-radius: 10px;
     }